{% extends 'layout.twig' %}

{% set title = author.pagetitle %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<h1>{{ author.subtitle }}</h1>
{{ flash_messages() }}
<p>{{ author.desc }}</p>
<p>Surname: {{ author.surname }}</p>
<p>Name: {{ author.name }}</p>
<p>Patrinymic: {{ author.patronymic }}</p>

<p>
    <a href="{{ path_for('list-authors') }}">Return</a>
    | <a href="{{ path_for('edit-author', {author_id: author.id}) }}">Edit author details</a>
</p>

{% endblock %}
