{% extends 'layout.twig' %}

{% set title = 'Edit ' ~ author.name %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>


<form method="POST" action="{{ path_for('edit-author', {author_id: author.id}) }}">
    {% if errors.form %}
    <div class="form-group has-error">
        <span class="help-block">{{ errors.form }}</span>
    </div>
    {% endif %}

    <div class="form-group {% if errors.surname %}has-error{% endif %}">
        <label class="control-label" for="surname">Surname</label>
        <input type="text" class="form-control" id="surname" name="surname" value="{{ author.surname }}" >
        {% if errors.surname %}<span class="help-block">{{ errors.surname.0 }}</span>{% endif %}
    </div>

    <div class="form-group {% if errors.name %}has-error{% endif %}">
        <label class="control-label" for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ author.name }}" >
        {% if errors.name %}<span class="help-block">{{ errors.name.0 }}</span>{% endif %}
    </div>


    <div class="form-group {% if errors.patronymic %}has-error{% endif %}">
        <label class="control-label" for="patronymic">Patronymic</label>
        <input type="text" class="form-control" id="patronymic" name="patronymic" value="{{ author.patronymic }}" >
        {% if errors.patronymic %}<span class="help-block">{{ errors.patronymic.0 }}</span>{% endif %}
    </div>


    <div class="form-group {% if errors.desc %}has-error{% endif %}">
        <label class="control-label" for="desc">Description</label>
        <textarea class="form-control" id="desc" name="desc" rows="7">{{ author.desc }}</textarea>
        {% if errors.desc %}<span class="help-block">{{ errors.desc.0 }}</span>{% endif %}
    </div>

    <div class="form-group {% if errors.pagetitle %}has-error{% endif %}">
        <label class="control-label" for="pagetitle">Page Title</label>
        <input type="text" class="form-control" id="pagetitle" name="pagetitle" value="{{ author.pagetitle }}" >
        {% if errors.pagetitle %}<span class="help-block">{{ errors.pagetitle.0 }}</span>{% endif %}
    </div>

    <div class="form-group {% if errors.subtitle %}has-error{% endif %}">
        <label class="control-label" for="subtitle">Subtitle</label>
        <input type="text" class="form-control" id="subtitle" name="subtitle" value="{{ author.subtitle }}" >
        {% if errors.subtitle %}<span class="help-block">{{ errors.subtitle.0 }}</span>{% endif %}
    </div>

    <input type="hidden" name="csrf_name" value="{{ csrf.name }}">
    <input type="hidden" name="csrf_value" value="{{ csrf.value }}">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-default" href="{{ path_for('author', {author_id: author.id}) }}">Cancel</a>
</form>

{% endblock %}
