{% extends 'layout.twig' %}

{% set title = 'Authors' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<ul>
{% for author in authors %}
    <li><a href="{{ path_for('author', {author_id: author.id}) }}">{{ author.name }} {{ author.surname }} {{ author.patronymic }}</a></li>
{% endfor %}
</ul>
{% endblock %}
